.filmsBloc {
  background: url(../../assets/img/fims/Supermancover.webp);
  height: 200px;
  width: 900px;
  background-repeat: no-repeat;
  /* background-size: cover; */
  margin: 0 auto;
}

.trait1 {
  width: 60%;
  margin: 0 auto;
}

.supermanCard{

width: 500px;
    margin: 0 auto;
}

.imgCard{
  width: 150px;
    height: 200px;
}
