.navigation {
  background-color: #1a1c2c;
  color: #ffffff;
  padding: 30px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  /* align-items: center; */
}

.navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-item {
  display: inline;
  margin-right: 30px;
}

.navigation-link {
  text-decoration: none;
  color: #ffffff;
}

.navigation-link:hover {
  text-decoration: underline;
}

.liensConnect {
  margin-left: 100px;
}
